In [16]:
from nsepy import get_history
import pandas
from datetime import datetime,date
sbin = get_history(symbol='SBIN',start=date(2018,1,1),end=date(2018,1,10))
sbin

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2018-01-01,SBIN,EQ,309.90,310.60,312.75,306.30,306.75,307.10,309.08,12182400,3.765315e+14,75769,5697288,0.4677
2018-01-02,SBIN,EQ,307.10,309.00,309.00,301.35,303.00,303.25,304.00,14797364,4.498328e+14,100195,5698196,0.3851
2018-01-03,SBIN,EQ,303.25,305.30,306.45,302.15,302.80,302.85,304.32,13857373,4.217070e+14,117207,6941140,0.5009
2018-01-04,SBIN,EQ,302.85,304.50,310.20,303.15,309.25,308.50,307.63,24517099,7.542211e+14,140513,10508054,0.4286
2018-01-05,SBIN,EQ,308.50,311.40,311.40,305.60,307.25,306.35,308.05,14580575,4.491544e+14,91829,4896408,0.3358
2018-01-08,SBIN,EQ,306.35,307.20,309.50,305.00,306.05,305.80,306.58,13557197,4.156338e+14,108289,7093201,0.5232
2018-01-09,SBIN,EQ,305.80,307.50,309.50,303.30,303.90,304.30,305.88,15574755,4.763935e+14,110914,6339261,0.4070
2018-01-10,SBIN,EQ,304.30,304.65,305.85,300.00,301.05,301.10,302.25,13064599,3.948825e+14,122547,5378392,0.4117